.services {
  color: #eeeeee !important;
}
.services h2 {
  color: #eeeeee !important;
}
.services h3 {
  color: #eeeeee !important;
}
.services h4 {
  color: #eeeeee !important;
}
.service-title {
  color: #eeeeee !important;
}
.service-summary {
  display: flex;
  align-items: flex-start;
  .service-image {
    flex: 0 0 40px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .service-content {
    flex: 1;
    .service-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }
    .service-title a {
      color: #eeeeee;
    }
    p {
      color: #eeeeee;
      font-size: 0.9rem;
      width: 90%;
    }
  }
}
